<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 开启注解 -->
	<context:annotation-config/>
	
	<!-- 配置连接池 -->
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- 配置C3P0连接池: -->
	<!-- 配置C3P0连接池: -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<!-- Hibernate的相关信息 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 配置Hibernate的其他的属性 -->
		<property name="hibernateProperties">
			<props>
				<!-- 方言 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 配置Hibernate的映射文件 -->
		<property name="mappingResources">
			<list>
				<!-- 前台 -->
				<value>goods/user/domain/User.hbm.xml</value>
				<value>goods/category/domain/Category.hbm.xml</value>
				<value>goods/book/domain/Book.hbm.xml</value>
				<value>goods/cart/domain/CartItem.hbm.xml</value>
				<value>goods/order/domain/Order.hbm.xml</value>
				<value>goods/order/domain/OrderItem.hbm.xml</value>
				
				<!-- 后台 -->
				<value>goods/admin/user/domain/Admin.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 事务管理: -->
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!--======== Action配置 ========-->
	<bean id="indexAction" class="goods.index.action.IndexAction" scope="prototype"></bean>
	
	<bean id="userAction" class="goods.user.action.UserAction" scope="prototype"></bean>
	
	<bean id="verifyCodeAction" class="goods.user.action.VerifyCodeAction" scope="prototype"></bean>
	
	<bean id="categoryAction" class="goods.category.action.CategoryAction" scope="prototype"></bean>
	
	<bean id="bookAction" class="goods.book.action.BookAction" scope="prototype"></bean>
	
	<bean id="cartItemAction" class="goods.cart.action.CartItemAction" scope="prototype"></bean>
	
	<bean id="orderAction" class="goods.order.action.OrderAction" scope="prototype"></bean>
	
	<bean id="adminAction" class="goods.admin.user.action.AdminAction" scope="prototype"></bean>
	
	<bean id="adminIndexAction" class="goods.admin.index.action.AdminIndexAction" scope="prototype"></bean>
	
	<bean id="adminBookAction" class="goods.admin.book.AdminBookAction" scope="prototype"></bean>
	
	<bean id="adminCategoryAction" class="goods.admin.category.AdminCategoryAction" scope="prototype"></bean>
	
	<bean id="adminOrderAction" class="goods.admin.order.AdminOrderAction" scope="prototype"></bean>
	
	<!--======== Service配置 ========-->
	<bean id="userService" class="goods.user.service.UserService"></bean>
	
	<bean id="categoryService" class="goods.category.service.CategoryService"></bean>
	
	<bean id="bookService" class="goods.book.service.BookService"></bean>
	
	<bean id="cartItemService" class="goods.cart.service.CartItemService"></bean>
	
	<bean id="orderService" class="goods.order.service.OrderService"></bean>
	
	<bean id="adminService" class="goods.admin.user.service.AdminService"></bean>
	
	<!--======== Dao配置 ========-->
	<bean id="userDao" class="goods.user.dao.UserDao"></bean>
	
	<bean id="categoryDao" class="goods.category.dao.CategoryDao"></bean>
	
	<bean id="bookDao" class="goods.book.dao.BookDao"></bean>
	
	<bean id="cartItemDao" class="goods.cart.dao.CartItemDao"></bean>
	
	<bean id="orderDao" class="goods.order.dao.OrderDao"></bean>
	
	<bean id="adminDao" class="goods.admin.user.dao.AdminDao"></bean>
	
</beans>
